<div class="container">
  <header class= "jumbotron">
    <h1>Ask Me Anything</h1>
    <p>Newbies can ask questions, experts can answer.</p>
  </header>
  {{#link-to 'index'}}Home{{/link-to}}
  {{#link-to 'social-media'}}Social Media{{/link-to}}
  <hr>
    {{outlet}}
  <footer>

  </footer>
</div>
