<h1>Ask Me Anything</h1>

<p>Newbies can ask questions, experts can answer.</p>

<ul>
  {{#each model as |question|}}
  <li>{{question.title}}</li>
  <li>{{question.author}}</li>
  <li>{{question.notes}}</li>
  {{/each}}
</ul>


{{#link-to 'social-media'}}Social Media{{/link-to}}
