<h2>Questions:</h2>
<ul>
  {{#each model.questions as |question|}}
  {{question-tile question=question}}
  {{/each}}
</ul>

{{new-question saveQuestion2="saveQuestion3"}}

<h3>Answers</h3>
<ul>
  {{#each model.answers as |answer|}}
  <li>{{answer.author}} -- {{answer.explanation}}</li>
  {{/each}}
</ul>
